<section class="min-h-screen p-6 dark:bg-gray-800 dark:text-white ">
  <div class="w-full mb-4 mt-2 font-bold text-lg">
    PDF Text and Image Extraction Tool
<app-share [tool]="tool"></app-share>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class=" w-full h-auto">
      <h2 class="mb-5 underline decoration-pink-500 underline-offset-8 decoration-dashed font-semibold">Input</h2>

      <div appPdfDrop (fileDropped)="onFileDropped($event)" class="file_upload p-2 relative border-4 border-dotted border-gray-300 rounded-lg ">
        <svg class="text-pink-500 w-24 mx-auto mt-10 mb-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" /></svg>
        <span class="input_field flex flex-col w-max mx-auto text-center">
          <!-- Hidden file input -->
          <input type="file" #fileInput id="fileInput" class="hidden" accept="application/pdf" (change)="onFileSelected($event)" />

          <!-- Label for the file input -->
          <label for="fileInput" class="text bg-pink-600 text-white border border-gray-300 rounded font-semibold cursor-pointer p-1 px-3 hover:bg-pink-700">
            Select
          </label>

          <span class="title text-pink-500 uppercase m-4">or drop files here</span>
        </span>
      </div>
    </div>
    <div class=" h-auto col-span-2">
      <h2 class="ml-5 mb-5 underline col-span-2 decoration-pink-500 underline-offset-8 decoration-dashed font-semibold">Output</h2>

      <!--<div [hidden]="isResult" class="p-2 border-4 border-dotted border-gray-300 rounded-lg w-full min-h-[50%] md:ml-5"></div>-->
      <ng-container *ngIf="isLoading && !isResult">
        <div class="flex flex-col items-center justify-center fa-3x text-pink-500">
          <i class="fas fa-spinner fa-pulse m-10"></i>
        </div>
      </ng-container>
      <div [hidden]="!isResult" class="h-full">
        <div class="relative">
          <textarea #textAreaText (change)="text=textAreaText.value" class="p-2 border-4 border-dotted border-gray-300 rounded-lg w-full h-auto md:ml-5 bg-transparent dark:text-white" rows="20">
{{text}}
</textarea>
          <button (click)="isCopied = !isCopied;" [cdkCopyToClipboard]="text"
                  class="absolute top-1 right-1 text-sm bg-pink-500 hover:bg-pink-700 text-white font-bold py-1 px-2 rounded">
            <ng-container *ngIf="!isCopied">
              <i class="fa-solid fa-clipboard"></i> Copy
            </ng-container>
            <ng-container *ngIf="isCopied">
              <i class="fa-solid fa-check"></i> Copied
            </ng-container>
          </button>
        </div>
        <div [hidden]="pdfService.images.length<1">
          <h3 class="m-4">Images</h3>
          <div id="imageView" class="border-4 border-dotted border-gray-300 p-2 rounded-lg grid grid-cols-1 md:grid-cols-2 gap-4 md:ml-5">
          </div>
        </div>

      </div>
    </div>

  </div>

 
</section>
