<div class="w-full m-2 mb-10 font-bold text-lg underline decoration-pink-500 decoration-dashed underline-offset-8">
  Featured
</div>

<div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 shadow-sm shadow-pink-500 mb-5">
  <h2 class="mb-3 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">PDF Text and Image Extraction Tool</h2>
  <p class="mb-3 text-gray-500 dark:text-gray-400">
    Extract text and images from PDF files easily, fast and free. Upload the file and get the results in the same page.
  </p>
  <p class="mb-3 text-gray-500 dark:text-gray-400 text-xs">
    Limits: Max 5 Mb file size
  </p>
  <p class="mb-3 text-gray-500 dark:text-gray-400 text-xs ">
    Usage: Free
  </p>
  <a [routerLink]="[('extract-pdf')]" class="p-2 rounded inline-flex items-center font-medium bg-pink-500 text-white hover:bg-pink-600 ">
    Try Now
    <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
    </svg>
  </a>
</div>
<div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 shadow-sm shadow-pink-500 mb-5">
  <h2 class="mb-3 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">PDF Table Extraction Tool</h2>
  <p class="mb-3 text-gray-500 dark:text-gray-400">
    Extract tabular data from PDF files and download the output table in .xlsx, .csv, .docx, or .html formats.
  </p>
  <p class="mb-3 text-gray-500 dark:text-gray-400 text-xs">
    Limits: Max 5 Mb file size
  </p>
  <p class="mb-3 text-gray-500 dark:text-gray-400 text-xs ">
    Usage: Free
  </p>
  <a href="#" class="p-2 rounded inline-flex items-center font-medium bg-pink-500 text-white hover:bg-pink-600 ">
    Try Now
    <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
    </svg>
  </a>
</div>
