
<div class="absolute top-0 right-0">
  <button class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 m-2 hover:scale-105 focus:scale-100 duration-300 active:scale-110 cursor-pointer"
          (click)="darkMode.set(!darkMode())">
    <span *ngIf="!darkMode()"><i class="fa-solid fa-moon"></i></span>
    <span *ngIf="darkMode()"><i class="fa-solid fa-sun"></i></span>
  </button>
</div>


  <app-navbar></app-navbar>
  <app-tools-list></app-tools-list>
