<header class="text-gray-600 dark:text-slate-200 body-font bg-gray-100 dark:bg-gray-900 shadow-lg">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 dark:text-slate-200 mb-4 md:mb-0 rounded cursor-pointer ">
      <img src="assets/logo.png" class="w-10 h-10 rounded-lg" />
      <span class="ml-3 text-xl">Presentai</span>
    </a>
    <nav class="md:ml-auto md:mr-auto p-2 rounded	flex flex-wrap items-center text-base justify-center hidden md:block">
      <a class="mr-5 hover:bg-gray-200 dark:hover:bg-gray-500 duration-300 cursor-pointer ">Home</a>
      <a class="mr-5 hover:bg-gray-200 dark:hover:bg-gray-500 duration-300 cursor-pointer ">About</a>
      <a class="mr-5 hover:bg-gray-200 dark:hover:bg-gray-500 duration-300 cursor-pointer ">Tools</a>
      <a class="mr-5 hover:bg-gray-200 dark:hover:bg-gray-500 duration-300 cursor-pointer ">Contact</a>
    </nav>
    <!--<button class="hidden md:inline-flex inline-flex items-center  border-2 rounded border-pink-500 text-pink-500 dark:border-white dark:text-white py-1 px-3  hover:bg-pink-500 hover:text-white rounded text-black mr-10">
      Sign In
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>-->
  </div>
</header>
