<div id="about" class="w-full m-2 mb-5 font-bold text-lg underline decoration-pink-500 decoration-dashed underline-offset-8">
  About
</div>
<div class="flex md:flex-row flex-col p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 shadow-sm shadow-pink-500 mb-5 md:h-screen h-auto">
      <img src="assets/logo.png" class="w-fit md:p-10 rounded-lg" />
    <div class="text-xl leading-8 flex flex-wrap">
      <p class=" md:pt-16 text-gray-700 dark:text-white"> Presentai aims to provide modern and simple tools for academic researchers and students, especially in the biomedical field.</p>
      <p class=" text-gray-700 dark:text-white mb-3"> While keeping up with the latest advances in generative AI technology, we strive to create tools where the researcher can manually control the flow and save time, rather than allowing generative AI to create content on its own. </p>
    </div>

</div>

