<section class="min-h-screen p-6 dark:bg-gray-800 dark:text-white ">
  <div class="w-full mb-4 mt-2 font-bold text-lg">
    Text to .pptx Conversion Tools
  </div>
  <app-share [tool]="tooltoShare"></app-share>

  <div class="flex text-md font-semibold mb-5">Please select one of the tools below: </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">


    <div class="md:flex">

      <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
        <li>
          <button (click)="tool=1" class="inline-flex items-center px-4 py-3 rounded-lg  bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white" [ngClass]="tool==1 ? 'bg-pink-500 text-white hover:bg-pink-600 dark:bg-pink-500 dark:hover:bg-pink-600 ' : 'bg-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700'">
            Text to .pptx Directly (Free)
          </button>
        </li>
        <li>
          <button (click)="tool=2" class="inline-flex items-center px-4 py-3 rounded-lg  bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white" [ngClass]="tool==2 ? 'bg-pink-500 text-white hover:bg-pink-600 dark:bg-pink-500 dark:hover:bg-pink-600 ' : 'bg-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700'">
            Create Presentation with ChatGPT (Free)
          </button>
        </li>
        <li>
          <button (click)="tool=3" class="inline-flex items-center px-4 py-3 rounded-lg  bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white" [ngClass]="tool==3 ? 'bg-pink-500 text-white hover:bg-pink-600 dark:bg-pink-500 dark:hover:bg-pink-600 ' : 'bg-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700'">
            Create Presentation with ChatGPT Automated <br />
          </button>
        </li>
      </ul>
      <div [hidden]="tool!=1" class="p-6 bg-gray-50 text-sm text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
        <h3 class=" font-bold text-gray-900 dark:text-white mb-2">Text to .pptx Directly</h3>
        <p class="mb-2">
          This tool places each paragraph of your text on a new slide without pre-processing your text. It aims to prepare a workspace before you start working on your presentation.
        </p>
      </div>
      <div [hidden]="tool!=2" class="p-6 bg-gray-50 text-sm text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
        <h3 class=" font-bold text-gray-900 dark:text-white mb-2">Create Presentation with ChatGPT</h3>
        <p class="mb-2">
          This tool converts the resulting .json object list into a .pptx file when you run the prompt provided here with your text.
        </p>
        <p class="mb-2">
          You need to have access to ChatGPT yourself to be able to use this tool.
        </p>
        <p class="mb-2">
          If you lack access to ChatGPT or prefer not to follow the steps manually, you can utilize our third tool, which automatically splits your text and connects with ChatGPT for you.
        </p>
      </div>
      <div [hidden]="tool!=3" class="p-6 bg-gray-50 text-sm text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
        <h3 class=" font-bold text-gray-900 dark:text-white mb-2">Create Presentation with ChatGPT Automated</h3>
        <p class="mb-2">
          This tool uses Chat-GPT to organise and summarise your text into a comprehensive presentation. Splits longer text into parts to get an optimizes result.
        </p>
      </div>

    </div>


    <!--<div class=" h-auto">
      <div class="flex text-md font-semibold">Please select one of the tools below: </div>
      <div class="flex relative pb-12 pt-10">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-10 h-10 rounded-full bg-pink-500 inline-flex items-center justify-center text-white relative z-10">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider uppercase">Text to .pptx Directly</h2>
          <p class="leading-relaxed">
            This tool simply puts each paragraph of your text into a new slide, without preprocessing your text. It aims to prepare a work area before you start to work on your presentation.
          </p>
        </div>
      </div>
      <div class="flex relative pb-12">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-10 h-10 rounded-full bg-pink-500 inline-flex items-center justify-center text-white relative z-10">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider uppercase">Create Presentation with ChatGPT</h2>
          <p class="leading-relaxed">
            This tool enables you to create presentations with Chat-GPT. You need to access to ChatGPT yourself with our prompt and your text input. This tool will convert the output json code into .pptx file. See an example.
          </p>
        </div>
      </div>
      <div class="flex relative pb-12">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-10 h-10 rounded-full bg-pink-500 inline-flex items-center justify-center text-white relative z-10">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <circle cx="12" cy="5" r="3"></circle>
            <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider uppercase">Create Presentation with ChatGPT Automated</h2>
          <p class="leading-relaxed">This tool does the same thing in the second item, but it automates the process for you. It automatically splits your text into smaller pieces to make it a more detailed presentation and contacts to ChatGPT (OpenAI API) to make it a summarized comprhensive presentation. </p>
        </div>
      </div>

    </div>-->
    <div class="col-span-2">
      <div [hidden]="tool!=1">
        <label>Your Text:</label>
        <textarea class="w-full p-3 border-2 border-gray-200 rounded-lg mt-5 dark:bg-transparent dark:text-white" rows="6" #textInput></textarea>
        <!--<label>Split By:</label>
    <input type="text" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mr-10" />
    <label>Number of pieces in each slide:</label>
    <input type="number" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mb-10" />-->

        <span class="text-gray-500 text-sm mt-2">Input text will be split by 'two line-breaks' into new slides; <br /> and each slide's content will be split by '.' to new items.</span>
        <button data-modal-target="progress-modal" data-modal-toggle="progress-modal" class="bg-pink-500 text-white rounded mt-2 p-3 float-right hover:bg-pink-600 " (click)="onSubmit(textInput.value)">Convert to .pptx</button>
      </div>
      <!-- Main modal -->
      <div id="progress-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="progress-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close</span>
            </button>
            <div class="p-4 md:p-5">
              <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white mb-5">Status</h3>
              <p class="text-gray-700 dark:text-gray-400 mb-5">
                {{durum}}
              <p>
                <ng-container *ngIf="!isError">
                  <div class="flex flex-col items-center justify-center mt-5">
                    <a id="downloadLink1" class="rounded-lg hover:bg-gray-100"><img src="assets/pptx_icon.png" class="w-20 h-20 hover:bg-gray-100" />Download File</a>
                 
                      <a href="https://www.buymeacoffee.com/mervsenv" target="_blank" class="m-2 p-2 rounded  text-pink-500 hover:bg-pink-500 hover:text-white"><i class="fa fa-coffee m-2"></i>Buy me a coffee</a>
                    </div>
                 
                </ng-container>
                <!-- Modal footer -->
                <div class="flex mt-6 space-x-2 rtl:space-x-reverse">
                  <button data-modal-hide="progress-modal" type="button" class="border text-pink-500 border-pink-500 rounded p-2 mb-2 hover:text-white hover:bg-pink-500 duration-300">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>



      <div [hidden]="tool!=2">
        <p class="mt-2 mb-2">
          Please run this prompt, replacing the underlined text with your content:
        </p>
        <h5 class="font-semibold text-md mb-2">Prompt:</h5>
        <p class="relative py-8 mb-2 border border-gray-300 rounded bg-gray-100 p-3 text-sm  dark:bg-transparent dark:text-white">
          "You are a helpful assistant. Organise this text content into summarised slides for a coherent and engaging presentation. Your response should be in JSON object list for slides and each slide should be with properties 'title' and 'content'. The text is: <span class="underline">Your content here</span>"

          <button (click)="isCopied = !isCopied;" [cdkCopyToClipboard]="prompt"
                  class="text-xs absolute top-1 right-1 text-sm bg-pink-500 hover:bg-pink-700 text-white font-bold py-1 px-2 rounded">
            <ng-container *ngIf="!isCopied"> Copy</ng-container>
            <ng-container *ngIf="isCopied"> Copied!</ng-container>
          </button>
        </p>
        <div class="text-gray-500 text-sm mt-2 mb-5">
          <p class="mb-2">
            If you split your content into smaller pieces and run this prompt, the output presentation will be more detailed.
          </p>
          If your text is long and you don't want to do these steps multiple times, please try our third tool to automate the process.
        </div>

        <label class="font-semibold text-md">Resulting json:</label>
        <textarea class="w-full p-3 border-2 border-gray-200 rounded-lg mt-2  dark:bg-transparent dark:text-white" rows="6" #jsonInput placeholder="Copy and paste the resulting JSON here."></textarea>
        <!--<label>Split By:</label>
    <input type="text" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mr-10" />
    <label>Number of pieces in each slide:</label>
    <input type="number" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mb-10" />-->
        <span class="text-gray-500 text-sm mt-2">
          The JSON object list must be surrounded with square brackets.
        </span>

        <button data-modal-target="progress-modal2" data-modal-toggle="progress-modal2" class="bg-pink-500 text-white rounded mt-2 p-3 float-right hover:bg-pink-600 " (click)="onSubmit(jsonInput.value)">Convert to .pptx</button>

      </div>
      <!-- Main modal -->
      <div id="progress-modal2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="progress-modal2">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close</span>
            </button>
            <div class="p-4 md:p-5">
              <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Status</h3>
              <p class="text-gray-700 dark:text-gray-400 mb-6">
                {{durum}}
              <p>
                <ng-container *ngIf="!isError">
                 
                  <div class="flex flex-col items-center justify-center mt-5">
                    <a id="downloadLink2" class="rounded-lg hover:bg-gray-100"><img src="assets/pptx_icon.png" class="w-20 h-20 hover:bg-gray-100" />Download File</a>

                    <a href="https://www.buymeacoffee.com/mervsenv" target="_blank" class="m-2 p-2 rounded  text-pink-500 hover:bg-pink-500 hover:text-white"><i class="fa fa-coffee m-2"></i>Buy me a coffee</a>
                  </div>

                </ng-container>


                <!-- Modal footer -->
                <div class="flex items-center mt-6 space-x-2 rtl:space-x-reverse">
                  <button data-modal-hide="progress-modal2" type="button" class="border dark:border-gray-200 dark:text-gray-200 text-gray-700 border-gray-700 rounded p-3 float-right hover:bg-gray-600">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="tool!=3">
        <label>Your Text:</label>
        <textarea class="w-full p-3 border-2 border-gray-200 rounded-lg mt-5 dark:bg-transparent dark:text-white" rows="6" #textInputforGPT></textarea>
        <!--<label>Split By:</label>
    <input type="text" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mr-10" />
    <label>Number of pieces in each slide:</label>
    <input type="number" class="ml-2 p-2 border-2 border-gray-200 rounded-lg mt-5 mb-10" />-->

        <span class="text-gray-500 text-sm mt-2">Input text will be sent to chatGPT via API calls.</span>
        <button data-modal-target="progress-modal3" data-modal-toggle="progress-modal3" class="bg-pink-500 text-white rounded mt-2 p-3 float-right hover:bg-pink-600 " (click)="onSubmit(textInputforGPT.value)">Convert to .pptx</button>
        <!-- Main modal -->
      </div>
      <div id="progress-modal3" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="progress-modal3">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close</span>
            </button>
            <div class="p-4 md:p-5">
              <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white mb-5">Status</h3>
              <p class="text-gray-700 dark:text-gray-400 mb-5">
                {{durum}}
              <p>
                <a [hidden]="isLoading || isError" id="downloadLink3" class="rounded-lg hover:bg-gray-100"><img src="assets/pptx_icon.png" class="w-20 h-20 hover:bg-gray-100" />Download File</a>

                <ng-container *ngIf="!isError && !isLoading">
                  
                  <div class="flex flex-col items-center justify-center mt-5">

                    <a href="https://www.buymeacoffee.com/mervsenv" target="_blank" class="m-2 p-2 rounded  text-pink-500 hover:bg-pink-500 hover:text-white"><i class="fa fa-coffee m-2"></i>Buy me a coffee</a>
                  </div>

                </ng-container>
                <!-- Modal footer -->
                <div class="flex mt-6 space-x-2 rtl:space-x-reverse">
                  <button data-modal-hide="progress-modal3" type="button" class="border text-pink-500 border-pink-500 rounded p-2 mb-2 hover:text-white hover:bg-pink-500 duration-300">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>