<div class="w-full m-2 mb-10 font-bold text-lg underline decoration-pink-500 decoration-dashed underline-offset-8">
  News
</div>

<ul class="max-w-md text-gray-600 text-sm dark:text-slate-200 divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-800 p-6 rounded-lg shadow-sm shadow-pink-500">
  <li class="pb-3 sm:pb-4">
    <div class="flex items-center space-x-4 rtl:space-x-reverse">
      "Text to .pptx Convertion Tool" is coming soon.
      <span class="text-xs">6/12/2023</span>
    </div>
  </li>

  <li class="pt-3 pb-3 sm:pb-4">
    <div class="flex items-center space-x-4 rtl:space-x-reverse">
      First Tool: "PDF Text and Images Extraction Tool" is released.
      <span class="text-xs">6/12/2023</span>
    </div>
  </li>

  <li class="pt-3 pb-0 sm:pt-4">
    <div class="flex items-center space-x-4 rtl:space-x-reverse">
      <button>See All</button>
      <button>Expand</button>
    </div>
  </li>
</ul>
